@model ProjectPlaner.Models.Entity.Project

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="projectId" />
            <div class="form-group">
                <label asp-for="name" class="control-label">Project name</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clientId" class="control-label">Client</label>
                <select asp-for="clientId" class="form-control" asp-items="ViewBag.clientId"><option value=""></option></select>
                <span asp-validation-for="clientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comment" class="control-label">Comment</label>
                <input asp-for="comment" class="form-control" />
                <span asp-validation-for="comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deadline" class="control-label">Deadline</label>
                <input asp-for="deadline" class="form-control" />
                <span asp-validation-for="deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label">Description</label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Index">Back to List</a>
                }
                else
                {
                    <a class="btn btn-outline-primary" asp-controller="Account" asp-action="ProjectTasks" asp-route-id="@Model.projectId">Back</a>
                }
            </div>
        </form>
    </div>
</div>




